Name : Ghotra Jaspreet Kaur

ID : 202318058

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 1.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488493 sha256=1075f222af632361b2723b3e0be0ab6da12baadc3c04297adee2e7ece565a4b0
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [2]:
from pyspark.sql import SparkSession

**TASK-1: Generate 100 random numbers in range 0 to 10 using numpy
randint function with the seed set to 10. Create a RDD using the paral-
lelize function using data generated in previous step. Calculate the fre-
quency of each number (0 - 10) using appropriate function of RDD.**

In [3]:
#Creating a Spark session
spark = SparkSession.builder.master("local[1]").appName("SparkExample").getOrCreate()

#Generating 100 random numbers in range 0 to 10 using numpy
import numpy as np
np.random.seed(10)
random_numbers = np.random.randint(0, 11, 100)

#Creating RDD using parallelize function
rdd_numbers = spark.sparkContext.parallelize(random_numbers)

#Calculating the frequency of each number (0 - 10)
frequency_count = rdd_numbers.countByValue()

for num, freq in sorted(frequency_count.items()):
    print(f"Number {num}: {freq} times")

Number 0: 12 times
Number 1: 11 times
Number 2: 8 times
Number 3: 6 times
Number 4: 8 times
Number 5: 5 times
Number 6: 11 times
Number 7: 5 times
Number 8: 14 times
Number 9: 12 times
Number 10: 8 times

**TASK-2: In this task you will calculate the frequency of each word in
text8 dataset mentioned above. Create a RDD using the text8 dataset.
Use appropriate functions of the RDD to get the word frequencies. Filter the RDD using appropriate function to get the frequencies of words
containing the letter ’a’.**

In [4]:
#Creating RDD using the text8 dataset
text_rdd = spark.sparkContext.textFile('text8')

#Calculating word frequencies
word_frequencies = text_rdd.flatMap(lambda line: line.split()).countByValue()

#Filtering frequencies to get words containing the letter 'a'
a_words_frequencies = {word: freq for word, freq in word_frequencies.items() if 'a' in word}

#Showing all the observations
#for word, freq in sorted(a_words_frequencies.items()):
#    print(f"Word '{word}': {freq} times")

#Showing only the first 20 observations
for word, freq in sorted(list(a_words_frequencies.items())[:20]):
    print(f"Word '{word}': {freq} times")

Word 'a': 16818 times
Word 'abuse': 23 times
Word 'act': 179 times
Word 'against': 459 times
Word 'also': 2340 times
Word 'anarchism': 156 times
Word 'and': 22553 times
Word 'any': 614 times
Word 'as': 7067 times
Word 'class': 136 times
Word 'early': 532 times
Word 'has': 1983 times
Word 'means': 235 times
Word 'organization': 99 times
Word 'originated': 26 times
Word 'pejorative': 6 times
Word 'radicals': 12 times
Word 'sans': 3 times
Word 'that': 5987 times
Word 'way': 350 times

**DataFrame Task: Create a Spark dataframe using the iris json data men-
tioned above. Calculate Pearson Correlation between the columns petal-
Length and petalWidth using the appropriate dataframe API. Show the
columns sepalLength, sepalWidth and species for the rows of data that has
petalLength greater than or equal to 1.4 using the appropriate dataframe
API.**

In [5]:
iris_df = spark.read.json("iris.json")
iris_df.show()

+---------------+-----------+----------+-----------+----------+-------+
|_corrupt_record|petalLength|petalWidth|sepalLength|sepalWidth|species|
+---------------+-----------+----------+-----------+----------+-------+
|              [|       NULL|      NULL|       NULL|      NULL|   NULL|
|           NULL|        1.4|       0.2|        5.1|       3.5| setosa|
|           NULL|        1.4|       0.2|        4.9|       3.0| setosa|
|           NULL|        1.3|       0.2|        4.7|       3.2| setosa|
|           NULL|        1.5|       0.2|        4.6|       3.1| setosa|
|           NULL|        1.4|       0.2|        5.0|       3.6| setosa|
|           NULL|        1.7|       0.4|        5.4|       3.9| setosa|
|           NULL|        1.4|       0.3|        4.6|       3.4| setosa|
|           NULL|        1.5|       0.2|        5.0|       3.4| setosa|
|           NULL|        1.4|       0.2|        4.4|       2.9| setosa|
|           NULL|        1.5|       0.1|        4.9|       3.1| setosa|
|           NULL|        1.5|       0.2|        5.4|       3.7| setosa|
|           NULL|        1.6|       0.2|        4.8|       3.4| setosa|
|           NULL|        1.4|       0.1|        4.8|       3.0| setosa|
|           NULL|        1.1|       0.1|        4.3|       3.0| setosa|
|           NULL|        1.2|       0.2|        5.8|       4.0| setosa|
|           NULL|        1.5|       0.4|        5.7|       4.4| setosa|
|           NULL|        1.3|       0.4|        5.4|       3.9| setosa|
|           NULL|        1.4|       0.3|        5.1|       3.5| setosa|
|           NULL|        1.7|       0.3|        5.7|       3.8| setosa|
+---------------+-----------+----------+-----------+----------+-------+
only showing top 20 rows

In [6]:
#Removing the _corrupt_record column
iris_df = iris_df.select(iris_df.columns[1:])

In [7]:
iris_df.show()

+-----------+----------+-----------+----------+-------+
|petalLength|petalWidth|sepalLength|sepalWidth|species|
+-----------+----------+-----------+----------+-------+
|       NULL|      NULL|       NULL|      NULL|   NULL|
|        1.4|       0.2|        5.1|       3.5| setosa|
|        1.4|       0.2|        4.9|       3.0| setosa|
|        1.3|       0.2|        4.7|       3.2| setosa|
|        1.5|       0.2|        4.6|       3.1| setosa|
|        1.4|       0.2|        5.0|       3.6| setosa|
|        1.7|       0.4|        5.4|       3.9| setosa|
|        1.4|       0.3|        4.6|       3.4| setosa|
|        1.5|       0.2|        5.0|       3.4| setosa|
|        1.4|       0.2|        4.4|       2.9| setosa|
|        1.5|       0.1|        4.9|       3.1| setosa|
|        1.5|       0.2|        5.4|       3.7| setosa|
|        1.6|       0.2|        4.8|       3.4| setosa|
|        1.4|       0.1|        4.8|       3.0| setosa|
|        1.1|       0.1|        4.3|       3.0| setosa|
|        1.2|       0.2|        5.8|       4.0| setosa|
|        1.5|       0.4|        5.7|       4.4| setosa|
|        1.3|       0.4|        5.4|       3.9| setosa|
|        1.4|       0.3|        5.1|       3.5| setosa|
|        1.7|       0.3|        5.7|       3.8| setosa|
+-----------+----------+-----------+----------+-------+
only showing top 20 rows

In [8]:
#Calculating Pearson Correlation between petalLength and petalWidth
correlation = iris_df.stat.corr("petalLength", "petalWidth")
correlation

0.9626417223780231

In [9]:
#Showing columns for rows with petalLength greater than or equal to 1.4
iris_df.filter((iris_df.petalLength >= 1.4)).show()

+-----------+----------+-----------+----------+-------+
|petalLength|petalWidth|sepalLength|sepalWidth|species|
+-----------+----------+-----------+----------+-------+
|        1.4|       0.2|        5.1|       3.5| setosa|
|        1.4|       0.2|        4.9|       3.0| setosa|
|        1.5|       0.2|        4.6|       3.1| setosa|
|        1.4|       0.2|        5.0|       3.6| setosa|
|        1.7|       0.4|        5.4|       3.9| setosa|
|        1.4|       0.3|        4.6|       3.4| setosa|
|        1.5|       0.2|        5.0|       3.4| setosa|
|        1.4|       0.2|        4.4|       2.9| setosa|
|        1.5|       0.1|        4.9|       3.1| setosa|
|        1.5|       0.2|        5.4|       3.7| setosa|
|        1.6|       0.2|        4.8|       3.4| setosa|
|        1.4|       0.1|        4.8|       3.0| setosa|
|        1.5|       0.4|        5.7|       4.4| setosa|
|        1.4|       0.3|        5.1|       3.5| setosa|
|        1.7|       0.3|        5.7|       3.8| setosa|
|        1.5|       0.3|        5.1|       3.8| setosa|
|        1.7|       0.2|        5.4|       3.4| setosa|
|        1.5|       0.4|        5.1|       3.7| setosa|
|        1.7|       0.5|        5.1|       3.3| setosa|
|        1.9|       0.2|        4.8|       3.4| setosa|
+-----------+----------+-----------+----------+-------+
only showing top 20 rows